body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
header {
    background-color: #12123C;
    color: white;
    text-align: center;
    padding: 20px;
}
nav {
    text-align: center;
    margin: 20px;
}
nav a {
    text-decoration: none;
    background-color: #97e700;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
}
nav a:hover {
    background-color: #393970;
}
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.courses, .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.course, .contact-button {
    background-color: white;
    margin: 10px;
    padding: 15px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.course a, .contact-button a {
    text-decoration: none;
    display: block;
    margin-top: 10px;
    background-color: #97e700;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
}
.course a:hover, .contact-button a:hover {
    background-color: #393970;
}
footer {
    text-align: center;
    background-color: #12123C;
    color: white;
    padding: 15px;
    margin-top: 20px;
}
.container {
    text-align: center;
    padding: 30px;
}


.contact-form {
    max-width: 500px;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 5%;
    border-radius: 3%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.contact-form button:hover {
    background: #0056b3;
}


.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
}

.whatsapp { background: #03fa5d; }
.email { background: #007bff; }
.site { background: #007bff; }

.btn:hover {
    opacity: 0.8;
}
